#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.borders {
  border: 1px solid green;
  background: lightgreen;
}

#darkButton {
  cursor: pointer;
  color: #0088cc;
}

#darkButton:hover {
  text-decoration: underline;
}

.darkMode {
  background-color: black;
  color: white;
}

.lightMode {
  background-color: white;
  color: black;
}

#lightButton {
  cursor: pointer;
  color: #0088cc;
}

#lightButton:hover {
  text-decoration: underline;
}

.hide {
  display:none;
}
